div.post-meta {
  height: auto;

  time {
    background: transparent;
  }
}

h2.blog-description {
  margin-top: 3rem;
}

header#site-head {
  background: $footer-background-color;
}

h1.blog-title a {
  font-family: 'AquilineTwo';
}
main.content {
  background: $body-background-color;
}

footer {
  &.site-footer {
    background: $footer-background-color;
    text-shadow: none;
    color: #fff;

    div.inner {
      color: #fff;
    }
  }

  &.post-footer .author h4 {
    font-family: 'AquilineTwo', cursive;
    font-size: 1.5rem;

  }
}



#disqus_thread {
  padding: 30px;
}
