// FLUID.scss

@import "variables";

.container {
	width: $container-width;
	float: left;
}
.fluid-container {
	width: $fluid-container-width;
	float: left;
}
.fluid-wrapper {
	max-width: $fluid-wrapper-width;
	margin: 0 auto;
}
*[class*="fluid-col"] {
	margin: $fluid-margin-y;
	margin-left: $fluid-margin-x;
	float: left;
} 
@mixin default-fluid-col($num) {
	.fluid-col-#{$num} {
		width: ( ( 100% / $column-num ) * $num ) - $fluid-margin-x * 2;
	}
	.fluid-push-#{$num} {
		margin-left: ( ( 100% / $column-num ) * $num ) + $fluid-margin-x;
	}
	.fluid-pull-#{$num} {
		margin-right: ( ( 100% / $column-num ) * $num ) + $fluid-margin-x;
	}
}
@mixin fluid-col($num, $screen) {
	.#{$screen}-fluid-col-#{$num} {
		width: ( ( 100% / $column-num ) * $num ) - $fluid-margin-x * 2;
	}
	.#{$screen}-fluid-push-#{$num} {
		margin-left: ( ( 100% / $column-num ) * $num ) + $fluid-margin-x;
	}
	.#{$screen}-fluid-pull-#{$num} {
		margin-right: ( ( 100% / $column-num ) * $num ) + $fluid-margin-x;
	}
}

@include default-fluid-col(0);@include default-fluid-col(1);@include default-fluid-col(2);@include default-fluid-col(3);@include default-fluid-col(4);@include default-fluid-col(5);@include default-fluid-col(6);@include default-fluid-col(7);@include default-fluid-col(8);@include default-fluid-col(9);@include default-fluid-col(10);@include default-fluid-col(11);@include default-fluid-col(12);@include default-fluid-col(13);@include default-fluid-col(14);@include default-fluid-col(15);@include default-fluid-col(16);@include default-fluid-col(17);@include default-fluid-col(18);@include default-fluid-col(19);@include default-fluid-col(20);@include default-fluid-col(21);@include default-fluid-col(22);@include default-fluid-col(23);@include default-fluid-col(24);

// Large Screens
@media only screen and (min-device-width : $large-screens-min-width-in-px), only screen and (min-width : $large-screens-min-width-in-px) {

@include fluid-col(0, $large-screens-class-name);@include fluid-col(1, $large-screens-class-name);@include fluid-col(2, $large-screens-class-name);@include fluid-col(3, $large-screens-class-name);@include fluid-col(4, $large-screens-class-name);@include fluid-col(5, $large-screens-class-name);@include fluid-col(6, $large-screens-class-name);@include fluid-col(7, $large-screens-class-name);@include fluid-col(8, $large-screens-class-name);@include fluid-col(9, $large-screens-class-name);@include fluid-col(10, $large-screens-class-name);@include fluid-col(11, $large-screens-class-name);@include fluid-col(12, $large-screens-class-name);@include fluid-col(13, $large-screens-class-name);@include fluid-col(14, $large-screens-class-name);@include fluid-col(15, $large-screens-class-name);@include fluid-col(16, $large-screens-class-name);@include fluid-col(17, $large-screens-class-name);@include fluid-col(18, $large-screens-class-name);@include fluid-col(19, $large-screens-class-name);@include fluid-col(20, $large-screens-class-name);@include fluid-col(21, $large-screens-class-name);@include fluid-col(22, $large-screens-class-name);@include fluid-col(23, $large-screens-class-name);@include fluid-col(24, $large-screens-class-name);	

}

// Regular Screens
@media only screen and (max-device-width : $regular-screens-max-width-in-px), only screen and (max-width : $regular-screens-max-width-in-px) {

@include fluid-col(0, $regular-screens-class-name);@include fluid-col(1, $regular-screens-class-name);@include fluid-col(2, $regular-screens-class-name);@include fluid-col(3, $regular-screens-class-name);@include fluid-col(4, $regular-screens-class-name);@include fluid-col(5, $regular-screens-class-name);@include fluid-col(6, $regular-screens-class-name);@include fluid-col(7, $regular-screens-class-name);@include fluid-col(8, $regular-screens-class-name);@include fluid-col(9, $regular-screens-class-name);@include fluid-col(10, $regular-screens-class-name);@include fluid-col(11, $regular-screens-class-name);@include fluid-col(12, $regular-screens-class-name);@include fluid-col(13, $regular-screens-class-name);@include fluid-col(14, $regular-screens-class-name);@include fluid-col(15, $regular-screens-class-name);@include fluid-col(16, $regular-screens-class-name);@include fluid-col(17, $regular-screens-class-name);@include fluid-col(18, $regular-screens-class-name);@include fluid-col(19, $regular-screens-class-name);@include fluid-col(20, $regular-screens-class-name);@include fluid-col(21, $regular-screens-class-name);@include fluid-col(22, $regular-screens-class-name);@include fluid-col(23, $regular-screens-class-name);@include fluid-col(24, $regular-screens-class-name);	

}

// Small Screens
@media only screen and (max-device-width : $small-screens-max-width-in-px), only screen and (max-width : $small-screens-max-width-in-px) {

@include fluid-col(0, $small-screens-class-name);@include fluid-col(1, $small-screens-class-name);@include fluid-col(2, $small-screens-class-name);@include fluid-col(3, $small-screens-class-name);@include fluid-col(4, $small-screens-class-name);@include fluid-col(5, $small-screens-class-name);@include fluid-col(6, $small-screens-class-name);@include fluid-col(7, $small-screens-class-name);@include fluid-col(8, $small-screens-class-name);@include fluid-col(9, $small-screens-class-name);@include fluid-col(10, $small-screens-class-name);@include fluid-col(11, $small-screens-class-name);@include fluid-col(12, $small-screens-class-name);@include fluid-col(13, $small-screens-class-name);@include fluid-col(14, $small-screens-class-name);@include fluid-col(15, $small-screens-class-name);@include fluid-col(16, $small-screens-class-name);@include fluid-col(17, $small-screens-class-name);@include fluid-col(18, $small-screens-class-name);@include fluid-col(19, $small-screens-class-name);@include fluid-col(20, $small-screens-class-name);@include fluid-col(21, $small-screens-class-name);@include fluid-col(22, $small-screens-class-name);@include fluid-col(23, $small-screens-class-name);@include fluid-col(24, $small-screens-class-name);	

}

// Tablets
@media only screen and (max-device-width : $tablet-max-width-in-px), only screen and (max-width : $tablet-max-width-in-px) {

@include fluid-col(0, $tablet-class-name);@include fluid-col(1, $tablet-class-name);@include fluid-col(2, $tablet-class-name);@include fluid-col(3, $tablet-class-name);@include fluid-col(4, $tablet-class-name);@include fluid-col(5, $tablet-class-name);@include fluid-col(6, $tablet-class-name);@include fluid-col(7, $tablet-class-name);@include fluid-col(8, $tablet-class-name);@include fluid-col(9, $tablet-class-name);@include fluid-col(10, $tablet-class-name);@include fluid-col(11, $tablet-class-name);@include fluid-col(12, $tablet-class-name);@include fluid-col(13, $tablet-class-name);@include fluid-col(14, $tablet-class-name);@include fluid-col(15, $tablet-class-name);@include fluid-col(16, $tablet-class-name);@include fluid-col(17, $tablet-class-name);@include fluid-col(18, $tablet-class-name);@include fluid-col(19, $tablet-class-name);@include fluid-col(20, $tablet-class-name);@include fluid-col(21, $tablet-class-name);@include fluid-col(22, $tablet-class-name);@include fluid-col(23, $tablet-class-name);@include fluid-col(24, $tablet-class-name);	

}

// Mobiles
@media only screen and (min-device-width : $mobile-min-width-in-px) and (max-device-width : $mobile-max-width-in-px), only screen and (max-width : $mobile-max-width-in-px) {

@include fluid-col(0, $mobile-class-name);@include fluid-col(1, $mobile-class-name);@include fluid-col(2, $mobile-class-name);@include fluid-col(3, $mobile-class-name);@include fluid-col(4, $mobile-class-name);@include fluid-col(5, $mobile-class-name);@include fluid-col(6, $mobile-class-name);@include fluid-col(7, $mobile-class-name);@include fluid-col(8, $mobile-class-name);@include fluid-col(9, $mobile-class-name);@include fluid-col(10, $mobile-class-name);@include fluid-col(11, $mobile-class-name);@include fluid-col(12, $mobile-class-name);@include fluid-col(13, $mobile-class-name);@include fluid-col(14, $mobile-class-name);@include fluid-col(15, $mobile-class-name);@include fluid-col(16, $mobile-class-name);@include fluid-col(17, $mobile-class-name);@include fluid-col(18, $mobile-class-name);@include fluid-col(19, $mobile-class-name);@include fluid-col(20, $mobile-class-name);@include fluid-col(21, $mobile-class-name);@include fluid-col(22, $mobile-class-name);@include fluid-col(23, $mobile-class-name);@include fluid-col(24, $mobile-class-name);	

}